.efect-hr-balon {
  border: none;
  height: 40px;
  width: 90%;
  margin: 50px auto;
  background-image: radial-gradient(circle at 10% 30%, #a1d3f2 25%, transparent 60%), radial-gradient(circle at 20% 70%, #f7a1c4 25%, transparent 60%), radial-gradient(circle at 30% 40%, #9be7c4 25%, transparent 60%), radial-gradient(circle at 40% 60%, #ffe066 25%, transparent 60%), radial-gradient(circle at 50% 35%, #ce93d8 25%, transparent 60%), radial-gradient(circle at 60% 65%, #81ecec 25%, transparent 60%), radial-gradient(circle at 70% 45%, #ffccbc 25%, transparent 60%), radial-gradient(circle at 80% 60%, #b39ddb 25%, transparent 60%), radial-gradient(circle at 90% 40%, #80cbc4 25%, transparent 60%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* margini estompate */
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}